<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header payRecordTable layuiadmin-card-header-auto" style="padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <div class="layui-inline">
                <label class="layui-form-label">员工名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="employeeName" id="employeeName" autocomplete="off">
                </div>
            </div>
            <button class="layui-btn layuiadmin-btn-admin payRecord-search" lay-submit="" lay-filter="LAY-user-back-search" style="line-height: 0">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="vertical-align: initial;">查询</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin payRecord-reset" lay-submit="" lay-filter="LAY-user-back-search" style="line-height: 0">
                <i class="layui-icon layuiadmin-button-btn" style="vertical-align: initial;">重置</i>
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="payRecord-list" lay-filter="payRecord-list" style="margin: 10px;"></table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];

    var hasShowSalaryPayRecordMoneyPermission = /*[[${T(com.oven.constant.PermissionCode).SALARY_PAY_RECORD_SHOW_MONEY}]]*/ '';
    var hasShowSalaryPayRecordTotalMoneyPermission = /*[[${T(com.oven.constant.PermissionCode).SALARY_PAY_RECORD_SHOW_TOTAL_MONEY}]]*/ '';

    function hasPermission(code) {
        for (var i = 0; i < menu.length; i++) {
            if (code == menu[i]) {
                return true;
            }
        }
        return false;
    }

    /*]]>*/
</script>
<script type="application/javascript" th:src="@{/easyui/jquery.min.js}"></script>
<script type="application/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="application/javascript" th:src="@{/js/payRecord/payRecord.js}"></script>
</body>
</html>