<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oven.mapper.RoleMenuMapper">

    <!-- 通过角色ID查询 -->
    <select id="getByRoleId" resultMap="roleMenuMap">
        select * from t_role_menu where role_id = #{roleId}
    </select>

    <!-- 通过角色ID和菜单ID查询 -->
    <select id="getByRoleIdAndMenuId" resultMap="roleMenuMap">
        select * from t_role_menu where role_id = #{roleId} and menu_id = #{menuId}
    </select>

    <!-- 通过角色ID删除 -->
    <delete id="deleteByRoleId">
        delete from t_role_menu where role_id = #{roleId}
    </delete>

    <!-- 添加 -->
    <insert id="add">
        insert into t_role_menu (dbid, role_id, menu_id) values (#{id}, #{roleId}, #{menuId})
    </insert>

    <!-- 结果集映射 -->
    <resultMap type="com.oven.vo.RoleMenu" id="roleMenuMap">
        <id column="dbid" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="menu_id" property="menuId"/>
    </resultMap>

</mapper>