<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>
        body .pay-confirm-box-class .layui-layer-btn0{
            border-color: #E6E3E6;
            background-color: #FFF;
            color: black;
        }
        body .pay-confirm-box-class .layui-layer-btn1{
            border-color: #4898d5;
            background-color: #2e8ded;
            color: #fff;
        }
        body .pay-confirm-box-class .layui-layer-btn2{
            border-color: #E6E3E6;
            background-color: #FFF;
            color: black;
        }
    </style>
</head>
<body>

<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header payTable layuiadmin-card-header-auto" style="padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <div class="layui-inline">
                <label class="layui-form-label">员工名称</label>
                <div class="layui-input-block">
                    <select name="employeeId" lay-filter="employeeSelect" id="employeeSelect"></select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">工地名称</label>
                <div class="layui-input-block">
                    <select name="worksiteId" lay-filter="worksiteSelect" id="worksiteSelect"></select>
                </div>
            </div>
            <button class="layui-btn layuiadmin-btn-admin pay-search" lay-submit="" lay-filter="pay-back-search" style="line-height: 0">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="vertical-align: initial;">查询</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin pay-reset" lay-submit="" lay-filter="pay-back-reset" style="line-height: 0">
                <i class="layui-icon layuiadmin-button-btn" style="vertical-align: initial;">重置</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin pay-btn hide" lay-submit="" style="line-height: 0">
                <i class="layui-icon layuiadmin-button-btn" style="vertical-align: initial;">工资发放</i>
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="pay-list" lay-filter="pay-list" style="margin: 10px;"></table>
        </div>
    </div>
</div>

<div id="payRemarkBox" class="hide" style="margin: 25px;">
    <div style="margin: 20px;">
        <i class="layui-icon layui-icon-tips" style="font-size: 30px; color: red;"></i>
        <span id="payNoticeText"></span>
    </div>
    <div>
        <label>备注：</label>
        <div style="float: right;" id="remarkBox">
            <textarea placeholder="请输入备注内容" autofocus name="payRemark" id="payRemark" class="layui-textarea"></textarea>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];

    var hasChangeSalaryPayMoneyPermission = /*[[${T(com.oven.demo.common.constant.PermissionCode).SALARY_PAY_CHANGE_MONEY}]]*/ '';
    var hasShowSalaryPayTotalMoneyPermission = /*[[${T(com.oven.demo.common.constant.PermissionCode).SALARY_PAY_SHOW_TOTAL_MONEY}]]*/ '';

    function hasPermission(code) {
        for (var i = 0; i < menu.length; i++) {
            if (code == menu[i]) {
                return true;
            }
        }
        return false;
    }

    /*]]>*/
</script>
<script data-main="/js/pay/pay.js" th:src="@{/js/lib/require.js}"></script>
</body>
</html>