<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header worksiteTable layuiadmin-card-header-auto" style="padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <div class="layui-inline">
                <label class="layui-form-label">工地名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="worksiteName" id="worksiteNameReload" autocomplete="off">
                </div>
            </div>
            <button class="layui-btn layuiadmin-btn-admin worksite-search" lay-submit="" lay-filter="worksite-back-search" style="line-height: 0">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="vertical-align: initial;">查询</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin worksite-reset" lay-submit="" lay-filter="worksite-back-reset" style="line-height: 0">
                <i class="layui-icon layuiadmin-button-btn" style="vertical-align: initial;">重置</i>
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="worksite-list" lay-filter="worksite-list" style="margin: 10px;"></table>
        </div>
    </div>
</div>

</body>
<div id="worksiteTips" class="hide">
    <form lay-filter="worksite-from" class="layui-form" action="" style="width: 80%; margin-top: 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">工地名称：</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" id="worksiteId">
                <input type="text" lay-verify="required" class="layui-input" name="name" autocomplete="off" id="name" placeholder="请输入工地名称">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">工地描述</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入工地描述" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="worksite-submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="worksiteListToolBar">
    <div class="layui-btn-container">
        <button th:if="${session.menu.contains(T(com.oven.demo.common.constant.PermissionCode).WORKSITE_INSERT)}" class="layui-btn layui-btn-sm" id="worksite-add-btn" lay-event="worksite-add-btn">
            <i class="layui-icon layui-icon-add-circle" style="vertical-align: initial;">添加工地</i>
        </button>
    </div>
</script>
<script type="text/html" id="worksiteListBar">
    <a th:if="${session.menu.contains(T(com.oven.demo.common.constant.PermissionCode).WORKSITE_UPDATE)}" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a th:if="${session.menu.contains(T(com.oven.demo.common.constant.PermissionCode).WORKSITE_DELETE)}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];

    var hasChangeWorksiteStatusPermission = /*[[${T(com.oven.demo.common.constant.PermissionCode).WORKSITE_SETSTATUS}]]*/ '';

    function hasPermission(code) {
        for (var i = 0; i < menu.length; i++) {
            if (code == menu[i]) {
                return true;
            }
        }
        return false;
    }

    /*]]>*/
</script>
<script data-main="/js/worksite/worksite.js" th:src="@{/js/lib/require.js}"></script>
</html>