<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/skyer/log/skyer/demo_error.log</file>
        <!--<file>/usr/local/log/demo/demo/demo_error.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/Users/skyer/log/skyer/demo_error.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--<fileNamePattern>/usr/local/log/demo/demo_error.log.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/skyer/log/skyer/demo_debug.log</file>
        <!--<file>/usr/local/log/demo/demo_debug.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/Users/skyer/log/skyer/demo_debug.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--<fileNamePattern>/usr/local/log/demo/demo_debug.log.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/skyer/log/skyer/demo_info.log</file>
        <!--<file>/usr/local/log/demo/demo_info.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/Users/skyer/log/skyer/demo_info.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--<fileNamePattern>/usr/local/log/demo/demo_info.log.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.skyer.controller" level="ERROR">
        <appender-ref ref="FILE_ERROR"/>
    </logger>
    <logger name="com.skyer.mapper" level="DEBUG">
        <appender-ref ref="FILE_DEBUG"/>
    </logger>
    <logger name="com.skyer.aop" level="info">
        <appender-ref ref="FILE_INFO"/>
    </logger>
</configuration>