<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_HOME" value="/Users/oven/log/demo"/>
    <!-- INFO日志定义 -->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/demo.info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/demo.info.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 异步INFO日志定义 -->
    <appender name="SYNC_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="INFO"/>
    </appender>

    <!-- ERROR日志定义 -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/demo.error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/demo.error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 异步ERROR日志定义 -->
    <appender name="SYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERROR"/>
    </appender>

    <!-- DEBUG日志定义 -->
    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/demo.debug.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/demo.debug.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 异步DEBUG日志定义 -->
    <appender name="SYNC_DEBUG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DEBUG"/>
    </appender>

    <!-- 定义控制台日志信息 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{10}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义异步控制台日志信息 -->
    <appender name="SYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <!-- 定义控制台打印JDBC信息 -->
    <appender name="JDBC" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %yellow(%-5level) %boldMagenta(%logger{10}) - %yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <!-- 定义异步控制台打印JDBC信息 -->
    <appender name="SYNC_JDBC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JDBC"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="SYNC_STDOUT"/>
    </root>
    <logger name="com.oven.controller" additivity="false" level="ERROR">
        <appender-ref ref="SYNC_ERROR"/>
    </logger>
    <logger name="com.oven.exception" additivity="false" level="ERROR">
        <appender-ref ref="SYNC_ERROR"/>
    </logger>
    <logger name="com.oven.aop" additivity="false" level="INFO">
        <appender-ref ref="SYNC_INFO"/>
    </logger>
    <logger name="com.oven.limitation" additivity="false" level="INFO">
        <appender-ref ref="SYNC_INFO"/>
    </logger>
    <logger name="com.oven.limitation" additivity="false" level="ERROR">
        <appender-ref ref="SYNC_ERROR"/>
    </logger>
    <logger name="org.springframework.jdbc.core" additivity="false" level="DEBUG">
        <appender-ref ref="SYNC_DEBUG"/>
        <appender-ref ref="SYNC_JDBC"/>
    </logger>

</configuration>