<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FILE" value="demo"/>
    <property scope="context" name="LOG_HOME" value="temp"/>
    <springProperty scope="context" name="LOG_HOME" source="log.home"/>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger.%M:%L - %msg%n"/>

    <!-- INFO日志定义 -->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE}.info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${LOG_FILE}.info.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>180</maxHistory>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 异步INFO日志定义 -->
    <appender name="SYNC_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="INFO"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!-- 日志定义 -->
    <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${LOG_FILE}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>180</maxHistory>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 异步日志定义 -->
    <appender name="SYNC_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOG"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!-- ERROR日志定义 -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE}.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${LOG_FILE}.error.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>180</maxHistory>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 异步ERROR日志定义 -->
    <appender name="SYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERROR"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!-- DEBUG日志定义 -->
    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE}.debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${LOG_FILE}.debug.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>180</maxHistory>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 异步DEBUG日志定义 -->
    <appender name="SYNC_DEBUG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DEBUG"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="com.oven.demo.framework.aop" additivity="false" level="INFO">
        <appender-ref ref="SYNC_INFO"/>
        <appender-ref ref="SYNC_LOG"/>
    </logger>
    <logger name="org.apache.shiro.session.mgt.AbstractValidatingSessionManager" additivity="false" level="ERROR">
        <appender-ref ref="SYNC_ERROR"/>
        <appender-ref ref="SYNC_LOG"/>
    </logger>
    <logger name="org" additivity="false" level="WARN">
        <appender-ref ref="SYNC_LOG"/>
    </logger>
    <logger name="org.springframework.jdbc.core" additivity="false" level="DEBUG">
        <appender-ref ref="SYNC_DEBUG"/>
        <appender-ref ref="SYNC_LOG"/>
    </logger>
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE" additivity="false">
        <appender-ref ref="SYNC_DEBUG"/>
        <appender-ref ref="SYNC_LOG"/>
    </logger>
    <logger name="org.apache.shiro.session.mgt.AbstractValidatingSessionManager" level="ERROR" additivity="false">
        <appender-ref ref="SYNC_ERROR"/>
        <appender-ref ref="SYNC_LOG"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="SYNC_LOG"/>
        <appender-ref ref="SYNC_ERROR"/>
    </root>

</configuration>
