<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>财务登记</legend>
</fieldset>
<form lay-filter="finance-add-from" class="layui-form" action="" style="width: 80%;">
    <div class="layui-form-item">
        <label class="layui-form-label">工地名称</label>
        <div class="layui-input-block">
            <select name="worksiteId" lay-verify="required" lay-filter="worksiteSelect" id="worksiteSelect"></select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">登记金额</label>
        <div class="layui-input-block">
            <input type="number" lay-verify="required" class="layui-input" name="money" autocomplete="off" id="money">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注内容" name="remark" id="remark" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="finance-add-submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script data-main="/js/finance/add.js" th:src="@{/js/lib/require.js}"></script>
</body>
</html>