<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header financeTable layuiadmin-card-header-auto" style="padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <div class="layui-inline">
                <label class="layui-form-label">工地名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="worksiteName" id="worksiteName" autocomplete="off">
                </div>
            </div>

            <button class="layui-btn layuiadmin-btn-admin finance-search" lay-submit="" lay-filter="finance-back-search" style="line-height: 0">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="vertical-align: initial;">查询</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin finance-reset" lay-submit="" lay-filter="finance-back-reset" style="line-height: 0">
                <i class="layui-icon layuiadmin-button-btn" style="vertical-align: initial;">重置</i>
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="finance-list" lay-filter="finance-list" style="margin: 10px;"></table>
        </div>
    </div>
</div>

<script type="text/html" id="financeListToolBar">
    <div class="layui-btn-container">
        <button th:if="${session.menu.contains(T(com.oven.constant.PermissionCode).FINANCE_INSERT)}" class="layui-btn layui-btn-sm" id="finance-add-btn" lay-event="finance-add-btn">
            <i class="layui-icon layui-icon-add-circle" style="vertical-align: initial;">财务登记</i>
        </button>
    </div>
</script>
<script type="text/html" id="financeListBar">
    {{#  if(d.finishFlag == 1){ }}
    <a th:if="${session.menu.contains(T(com.oven.constant.PermissionCode).FINANCE_DELETE)}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  } }}
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];

    var hasShowFinanceMoneyPermission = /*[[${T(com.oven.constant.PermissionCode).FINANCE_SHOW_MONEY}]]*/ '';
    var hasShowFinanceTotalInMoneyPermission = /*[[${T(com.oven.constant.PermissionCode).FINANCE_SHOW_TOTAL_IN_MONEY}]]*/ '';
    var hasShowFinanceTotalOutMoneyPermission = /*[[${T(com.oven.constant.PermissionCode).FINANCE_SHOW_TOTAL_OUT_MONEY}]]*/ '';

    function hasPermission(code) {
        for (var i = 0; i < menu.length; i++) {
            if (code == menu[i]) {
                return true;
            }
        }
        return false;
    }

    /*]]>*/
</script>

<script data-main="/js/finance/finance.js" th:src="@{/js/lib/require.js}"></script>
</body>
</html>