<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>修改基金</legend>
</fieldset>
<form lay-filter="user-update-from" class="layui-form" action="" style="width: 80%;">
    <div class="layui-form-item">
        <label class="layui-form-label">基金名称</label>
        <div class="layui-input-block">
            <input type="hidden" name="id" th:value="${fund.id}">
            <input type="text" name="fundName" th:value="${fund.fundName}" lay-verify="required" placeholder="请输入基金名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="fund-update-submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script type="application/javascript" th:src="@{/easyui/jquery.min.js}"></script>
<script type="application/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="application/javascript" th:src="@{/js/fund/update.js}"></script>
</body>
</html>