<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header fundBillTable layuiadmin-card-header-auto" style="padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <div class="layui-inline">
                <label class="layui-form-label">基金名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="name" id="nameReload" autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">收益时间</label>
                <div class="layui-input-block">
                    <input type="text" name="dataDate" class="layui-input" autocomplete="off" id="dataDateReload">
                </div>
            </div>
            <button class="layui-btn layuiadmin-btn-admin fundBill-search" lay-submit="" style="line-height: 0">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="vertical-align: initial;">查询</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin fundBill-reset" lay-submit="" style="line-height: 0">
                <i class="layui-icon layuiadmin-button-btn" style="vertical-align: initial;">重置</i>
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="fundBill-list" lay-filter="fundBill-list" style="margin: 10px;"></table>
        </div>
    </div>
</div>

<script type="text/html" id="fundBillListToolBar">
    <div class="layui-btn-container">
        <button th:if="${session.menu.contains(T(com.oven.common.constant.PermissionCode).FUNDBILL_INSERT)}" class="layui-btn layui-btn-sm" id="fundBill-input-profit" lay-event="fundBill-input-profit">
            <i class="layui-icon layui-icon-rmb" style="vertical-align: initial;">录入收益</i>
        </button>
    </div>
</script>
<script type="text/html" id="fundBillListBar">
    <a th:if="${session.menu.contains(T(com.oven.common.constant.PermissionCode).FUNDBILL_UPDATE)}" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a th:if="${session.menu.contains(T(com.oven.common.constant.PermissionCode).FUNDBILL_DELETE)}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script data-main="/js/fundBill/fundBill.js" th:src="@{/js/lib/require.js}"></script>
</body>

<div id="input-profit-box" class="hide" xmlns:th="http://www.thymeleaf.org">
    <form class="layui-form" lay-filter="inputProfitForm" action="" style="margin-top: 15px;">
        <div class="layui-form-item">
            <label class='layui-form-label'>选择基金</label>
            <div class='layui-input-inline'>
                <select name="fundId" lay-filter="fundSelect" lay-verify="required" id="fundSelect"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class='layui-form-label'>收益日期</label>
            <div class='layui-input-inline'>
                <input type="text" name="dataDate" lay-verify="required" class="layui-input" autocomplete="off" id="dataDate">
            </div>
        </div>
        <div class="layui-form-item">
            <label class='layui-form-label'>收益金额</label>
            <div class='layui-input-inline'>
                <input type="number" name="money" lay-verify="required" placeholder="请输入收益金额" class='layui-input'>
            </div>
        </div>
        <div class="layui-form-item">
            <label class='layui-form-label'></label>
            <div class='layui-input-inline'>
                <button class="layui-btn" lay-submit="" lay-filter="inputProfit-submit" id="inputProfit-submit">立即提交</button>
            </div>
        </div>
    </form>
</div>

<div id="update-profit-box" class="hide" xmlns:th="http://www.thymeleaf.org">
    <form class="layui-form" lay-filter="updateProfitForm" action="" style="margin-top: 15px;">
        <div class="layui-form-item">
            <label class='layui-form-label'>选择基金</label>
            <div class='layui-input-inline'>
                <input type="hidden" name="id" id="updateId">
                <select name="fundId" lay-filter="fundSelect" lay-verify="required" id="updateFundSelect"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class='layui-form-label'>收益日期</label>
            <div class='layui-input-inline'>
                <input type="text" name="dataDate" lay-verify="required" class="layui-input" autocomplete="off" id="updateDataDate">
            </div>
        </div>
        <div class="layui-form-item">
            <label class='layui-form-label'>收益金额</label>
            <div class='layui-input-inline'>
                <input type="number" name="money" lay-verify="required" placeholder="请输入收益金额" id="updateMoney" class='layui-input'>
            </div>
        </div>
        <div class="layui-form-item">
            <label class='layui-form-label'></label>
            <div class='layui-input-inline'>
                <button class="layui-btn" lay-submit="" lay-filter="updateProfit-submit" id="updateProfit-submit">立即提交</button>
            </div>
        </div>
    </form>
</div>
</html>