<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header userTable layuiadmin-card-header-auto" style="padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="userName" id="userNameReload" autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="nickName" id="nickNameReload" autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="phone" id="phoneReload" autocomplete="off">
                </div>
            </div>
            <button class="layui-btn layuiadmin-btn-admin user-search" lay-submit="" lay-filter="LAY-user-back-search" style="line-height: 0">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="vertical-align: initial;">查询</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin user-reset" lay-submit="" lay-filter="LAY-user-back-search" style="line-height: 0">
                <i class="layui-icon layuiadmin-button-btn" style="vertical-align: initial;">重置</i>
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="user-list" lay-filter="user-list" style="margin: 10px;"></table>
        </div>
    </div>
</div>

<script type="text/html" id="userListToolBar">
    <div class="layui-btn-container">
        <button th:if="${session.menu.contains(T(com.oven.constant.PermissionCode).USER_INSERT)}" class="layui-btn layui-btn-sm" id="user-add-btn" lay-event="user-add-btn">
            <i class="layui-icon layui-icon-add-circle" style="vertical-align: initial;">添加用户</i>
        </button>
    </div>
</script>
<script type="text/html" id="userListBar">
    <a th:if="${session.menu.contains(T(com.oven.constant.PermissionCode).USER_SETROLE)}" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">分配角色</a>
    <a th:if="${session.menu.contains(T(com.oven.constant.PermissionCode).USER_UPDATE)}" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a th:if="${session.menu.contains(T(com.oven.constant.PermissionCode).USER_DELETE)}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];

    var hasChangeUserStatusPermission = /*[[${T(com.oven.constant.PermissionCode).USER_SETSTATUS}]]*/ '';

    function hasPermission(code) {
        for (var i = 0; i < menu.length; i++) {
            if (code == menu[i]) {
                return true;
            }
        }
        return false;
    }

    /*]]>*/
</script>
<script type="application/javascript" th:src="@{/easyui/jquery.min.js}"></script>
<script type="application/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="application/javascript" th:src="@{/js/user/user.js}"></script>
</body>
</html>