<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
</head>
<body>

<div class="userTable" style="margin-top: 10px;">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="userReload" autocomplete="off">
    </div>
    用户名:
    <div class="layui-inline">
        <input class="layui-input" name="userName" id="userNameReload" autocomplete="off">
    </div>
    昵称:
    <div class="layui-inline">
        <input class="layui-input" name="nickName" id="nickNameReload" autocomplete="off">
    </div>
    手机号:
    <div class="layui-inline">
        <input class="layui-input" name="phone" id="phoneReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<table class="layui-hide" id="user-list" lay-filter="user-list" style="margin: 10px;"></table>

<script type="text/html" id="userListBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">分配角色</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];
    function hasPermission(code) {
        for (var i=0; i<menu.length; i++) {
            if (code == menu[i]) {
                return true;
            }
        }
        return false;
    }
    /*]]>*/
</script>
<script type="text/html" id="userStatusCheckbox">
    <input type="checkbox" name="status" value="{{d.status}}" title="禁用" lay-filter="userStatus" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/layui.all.js}"></script>
<script th:src="@{/js/user/user.js}"></script>
</body>
</html>