<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link th:if="${session.userTheme == 'dark'}" rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body class="dark">

<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header employeeTable layuiadmin-card-header-auto" style="padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <div class="layui-inline">
                <label class="layui-form-label">员工姓名</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="name" id="nameReload" autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="contact" id="contactReload" autocomplete="off">
                </div>
            </div>
            <button class="layui-btn layuiadmin-btn-admin employee-search" lay-submit="" style="line-height: 0">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="vertical-align: initial;">查询</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin employee-reset" lay-submit="" style="line-height: 0">
                <i class="layui-icon layuiadmin-button-btn" style="vertical-align: initial;">重置</i>
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="employee-list" lay-filter="employee-list" style="margin: 10px;"></table>
        </div>
    </div>
</div>

</body>
<div id="employeeTips" class="hide">
    <form lay-filter="employee-from" id="employeeForm" class="layui-form" action="" style="width: 80%; margin-top: 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">员工姓名</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" id="employeeId">
                <input type="text" name="name" lay-verify="required" placeholder="请输入员工姓名" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="number" name="age" lay-verify="required" placeholder="请输入年龄" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="tel" name="contact" lay-verify="required|phone" placeholder="请输入手机号" autocomplete="off" class="layui-input layui-form-danger">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="gender" value="1" title="男">
                <input type="radio" name="gender" value="0" title="女">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">时薪</label>
            <div class="layui-input-block">
                <input type="number" name="hourSalary" placeholder="￥" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">住址</label>
            <div class="layui-input-block">
                <textarea name="address" placeholder="请输入住址" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="employee-submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="employeeListToolBar">
    <div class="layui-btn-container">
        <button th:if="${session.menu.contains(T(com.oven.demo.common.constant.PermissionCode).EMPLOYEE_INSERT)}" class="layui-btn layui-btn-sm" id="employee-add-btn" lay-event="employee-add-btn">
            <i class="layui-icon layui-icon-add-circle" style="vertical-align: initial;">添加员工</i>
        </button>
    </div>
</script>
<script type="text/html" id="employeeListBar">
    <a th:if="${session.menu.contains(T(com.oven.demo.common.constant.PermissionCode).EMPLOYEE_UPDATE)}" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a th:if="${session.menu.contains(T(com.oven.demo.common.constant.PermissionCode).EMPLOYEE_DELETE)}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];

    var hasChangeEmployeeStatusPermission = /*[[${T(com.oven.demo.common.constant.PermissionCode).EMPLOYEE_SETSTATUS}]]*/ '';
    var hasShowEmployeeMoneyStatusPermission = /*[[${T(com.oven.demo.common.constant.PermissionCode).EMPLOYEE_SHOWMONEY}]]*/ '';

    function hasPermission(code) {
        for (var i = 0; i < menu.length; i++) {
            if (code == menu[i]) {
                return true;
            }
        }
        return false;
    }

    /*]]>*/
</script>

<script data-main="/js/employee/employee.js" th:src="@{/js/lib/require.js}"></script>
</html>