<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>修改员工</legend>
</fieldset>
<form lay-filter="user-update-from" class="layui-form" action="" style="width: 80%;">
    <div class="layui-form-item">
        <label class="layui-form-label">员工姓名</label>
        <div class="layui-input-block">
            <input type="hidden" name="id" th:value="${employee.id}">
            <input type="text" name="name" th:value="${employee.name}" lay-verify="required" placeholder="请输入员工姓名" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-block">
            <input type="number" name="age" th:value="${employee.age}" lay-verify="required" placeholder="请输入年龄" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input type="tel" name="contact" th:value="${employee.contact}" lay-verify="required|phone" placeholder="请输入手机号" autocomplete="off" class="layui-input layui-form-danger">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="gender" value="1" title="男" th:checked="${employee.gender == 1}">
            <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                <div>男</div>
            </div>
            <input type="radio" name="gender" value="0" title="女" th:checked="${employee.gender == 0}">
            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                <div>女</div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">时薪</label>
        <div class="layui-input-block">
            <input type="number" name="hourSalary" th:value="${employee.hourSalary}" placeholder="￥" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">住址</label>
        <div class="layui-input-block">
            <textarea name="address" th:text="${employee.address}" placeholder="请输入住址" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="status" title="锁定" value="1" th:checked="${employee.status == 1}">
            <div class="layui-unselect layui-form-checkbox"><span>锁定</span><i class="layui-icon layui-icon-ok"></i></div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="employee-update-submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script data-main="/js/employee/update.js" th:src="@{/js/lib/require.js}"></script>
</body>
</html>