.layui-body {
    width: 100%;
    left: 0 !important;
}

.layui-card {
    margin: 20px;
}

.layui-footer {
    left: 0 !important;
    width: 100%;
    line-height: normal !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}