<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" style="padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <button class="layui-btn layuiadmin-btn-admin up-all" lay-submit="" style="line-height: 0">
                <i class="layui-icon layui-icon-up layuiadmin-button-btn" style="vertical-align: initial;">全部收起</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin down-all" lay-submit="" style="line-height: 0">
                <i class="layui-icon layui-icon-down layuiadmin-button-btn" style="vertical-align: initial;">全部展开</i>
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-table layui-form" id="menuTreeTable"></table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];

    var hasUpdateMenuPermission = /*[[${T(com.oven.demo.common.constant.PermissionCode).MENU_UPDATE}]]*/ '';
    var hasChangeMenuStatusPermission = /*[[${T(com.oven.demo.common.constant.PermissionCode).MENU_SETSTATUS}]]*/ '';

    function hasPermission(code) {
        for (var i = 0; i < menu.length; i++) {
            if (code == menu[i]) {
                return true;
            }
        }
        return false;
    }

    /*]]>*/
</script>
<script type="application/javascript" th:src="@{/js/lib/jquery.min.js}"></script>
<script type="application/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="application/javascript" th:src="@{/js/menu/menu.js}"></script>
</body>
</html>