<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>财务管理系统</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link th:if="${session.userTheme == 'dark'}" rel="stylesheet" th:href="@{/css/dark.css}">
    <style>
        .layui-icon {
            display: inline-block;
            font-size: 300px;
            color: #393D49;
        }

        .layui-text {
            width: 500px;
            margin: 30px auto;
            padding-top: 20px;
            border-top: 5px solid #009688
        }
    </style>
</head>
<body class="dark">
<div class="layui-fluid">
    <div class="layadmin-tips" style="display: flex; flex-direction: column;">
        <i class="layui-icon" face="" style="display: flex; justify-content: center;"></i>
        <div class="layui-text" style="font-size: 20px; display: flex; justify-content: center;">好像出错了呢</div>
    </div>
</div>
</body>
</html>