<div class="layui-header" style="background-color: #393D49;" xmlns:th="http://www.thymeleaf.org">
    <div class="layui-logo" id="logoBox" style="background-color: #20222A; display: flex; justify-content: center; align-items: center;"><i style="margin: 10px; font-size: 27px;" class="layui-icon layui-icon-star-fill"></i><span>财务管理系统</span></div>
    <ul id="searchBox" class="layui-nav layui-layout-left" style="height: 100%; display: flex; align-items: center">
<!--        <li class="layui-nav-item layadmin-flexible" lay-unselect="">-->
<!--            <a href="javascript:" layadmin-event="flexible" title="侧边伸缩">-->
<!--                <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>-->
<!--            </a>-->
<!--        </li>-->
        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
<!--            <div ><i class="layui-icon layui-icon-shrink-right" style="font-size: 16px; margin: 0 20px 0 0;" aria-hidden="true"></i></div>-->
            <div title="菜单缩放" class="kit-side-fold"><i class="layui-icon layui-icon-shrink-right" style="font-size: 16px;" aria-hidden="true"></i></div>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect="" style="margin-left: 20px;">
            <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search/keywords=">
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img" alt=""><span th:text="${session.current_user.nickName}">dd</span>
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/logout">退出</a></li>
    </ul>
</div>