<div class="layui-header" xmlns:th="http://www.thymeleaf.org">
    <div class="layui-logo">财务管理系统</div>
    <ul class="layui-nav layui-layout-left" style="height: 100%; display: flex; align-items: center">
<!--        <li class="layui-nav-item layadmin-flexible" lay-unselect="">-->
<!--            <a href="javascript:" layadmin-event="flexible" title="侧边伸缩">-->
<!--                <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>-->
<!--            </a>-->
<!--        </li>-->
        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
            <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search/keywords=">
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img"><font th:text="${session.current_user.nickName}">dd</font>
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/logout">退出</a></li>
    </ul>
</div>