<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>财务管理系统</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link th:if="${session.userTheme == 'dark'}" rel="stylesheet" type="text/css" th:href="@{/css/dark.css}">
    <link th:if="${session.menuPosition == 'header'}" rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body class="layui-layout-body dark">

<div class="layui-layout layui-layout-admin">
    <div th:replace="header"></div>

    <div th:if="${session.menuPosition != 'header'}">
        <div th:replace="left"></div>
    </div>

    <div class="layui-body">
        <iframe src="main.html" id="mainFrm" name="mainFrm" style="border: none; width: 100%; height: 99%; top: 0; bottom: 0; left: 0; right: 0; background-color: #f2f2f2;" class="dark"></iframe>
    </div>

    <div th:replace="footer"></div>
</div>
<div class="mobile-shadow"></div>

<script type="application/javascript" th:src="@{/layui/layui.all.js}"></script>
<script>
    layui.use('element', function() {
        var element = layui.element;
    });
</script>
</body>
</html>