<div class="layui-side layui-bg-black" xmlns:th="http://www.thymeleaf.org">
    <style>
        .menu-border-left {
            border-left: 5px solid #009688;
        }

        .kit-side-fold {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            cursor: pointer;
        }

        .hide {
            display: none;
        }
    </style>
    <script type="application/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/left.js}"></script>
    <div class="layui-side-scroll" style="width: auto;">
        <ul class="layui-nav layui-nav-tree" lay-filter="test" id="user-menus"></ul>
    </div>
</div>