<div class="layui-side layui-bg-black" xmlns:th="http://www.thymeleaf.org">
    <style>
        .menu-border-left {
            border-left: 5px solid #009688;
        }

        .kit-side-fold {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            cursor: pointer;
        }

        .hide {
            display: none;
        }

        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: #f9f9f9;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background-color: #8c8c8c;
        }
    </style>
    <div class="layui-side-scroll" style="width: auto;">
        <ul class="layui-nav layui-nav-tree" lay-filter="test" id="user-menus"></ul>
    </div>
</div>