<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <title>主页面</title>
</head>
<body>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header">薪资排行</div>
                <div class="layui-card-body" style="height: 100%; padding-bottom: 15px;">
                    <div id="lineId" style="width: 100%; height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">数据概览</div>
                <div class="layui-card-body" style="height: 200px;">
                    <div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
                        <div carousel-item="">
                            <ul class="layui-row layui-col-space10 layui-this">
                                <li class="layui-col-xs6">
                                    <a lay-href="app/content/comment" class="layadmin-backlog-body">
                                        <h3>员工数量</h3>
                                        <p><cite id="totalEmployee">0</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs6">
                                    <a lay-href="app/forum/list" class="layadmin-backlog-body">
                                        <h3>工地数量</h3>
                                        <p><cite id="totalWorksite">0</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs6">
                                    <a lay-href="template/goodslist" class="layadmin-backlog-body">
                                        <h3>累积工时</h3>
                                        <p><cite id="totalWorkhour">0</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs6">
                                    <a href="javascript:" class="layadmin-backlog-body">
                                        <h3>累积发薪</h3>
                                        <p><cite id="totalPay">0</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
                        <button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">发薪现状</div>
                <div class="layui-card-body layadmin-takerates">
                    <div class="layui-progress" lay-filter="salaryProportion" lay-showpercent="yes">
                        <h3>发薪占比</h3>
                        <div class="layui-progress-bar" id="salaryProportion"></div>
                    </div>
                    <div class="layui-progress" lay-filter="workhourProportion" lay-showpercent="yes">
                        <h3>工时占比</h3>
                        <div class="layui-progress-bar" id="workhourProportion"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script data-main="/main.js" th:src="@{/js/lib/require.js}"></script>
</html>