<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>财务管理系统</title>
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <style>
        .layui-icon {
            display: inline-block;
            font-size: 300px;
            color: #393D49;
        }

        .layui-text {
            width: 500px;
            margin: 30px auto;
            padding-top: 20px;
            border-top: 5px solid #009688
        }

        h1 {
            font-size: 100px !important;
            line-height: 100px;
            color: #009688 !important;
        }

        .layui-anim- {
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layadmin-tips" style="display: flex; flex-direction: column;">
        <i class="layui-icon" face="" style="display: flex; justify-content: center;"></i>
        <div class="layui-text" style="font-size: 20px; display: flex; justify-content: center;">
            <h1>
                <span class="layui-anim layui-anim-loop layui-anim-">4</span>
                <span class="layui-anim layui-anim-loop layui-anim- layui-anim-rotate">0</span>
                <span class="layui-anim layui-anim-loop layui-anim-">3</span>
            </h1>
        </div>
    </div>
</div>
</body>
</html>