<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
</head>
<body>

<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" style="display: flex; justify-content: center; padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <div id="barId" style="width: 600px;height:400px;"></div>
            <div id="lineId" style="width: 600px;height:400px;"></div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];

    function hasPermission(code) {
        for (var i = 0; i < menu.length; i++) {
            if (code === menu[i]) {
                return true;
            }
        }
        return false;
    }

    /*]]>*/
</script>
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/layui.all.js}"></script>
<script th:src="@{/echarts.min.js}"></script>
<script th:src="@{/js/tools/echarts.js}"></script>
</body>
</html>