<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<div class="layui-fluid" style="padding: 10px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header workhourTable layuiadmin-card-header-auto" style="padding-top: 15px; padding-bottom: 15px; height: auto; position: relative;">
            <div class="layui-inline">
                <label class="layui-form-label">员工名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="employeeName" id="employeeName" autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">工地名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="worksiteName" id="worksiteName" autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">工时日期</label>
                <div class="layui-input-block">
                    <input type="text" autocomplete="off" class="layui-input" id="workDate">
                </div>
            </div>
            <button class="layui-btn layuiadmin-btn-admin workhour-search" lay-submit="" lay-filter="workhour-back-search" style="line-height: 0">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="vertical-align: initial;">查询</i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin workhour-reset" lay-submit="" lay-filter="workhour-back-reset" style="line-height: 0">
                <i class="layui-icon layuiadmin-button-btn" style="vertical-align: initial;">重置</i>
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="workhour-list" lay-filter="workhour-list" style="margin: 10px;"></table>
        </div>
    </div>
</div>

<script type="text/html" id="workhourListToolBar">
    <div class="layui-btn-container">
        <button th:if="${session.menu.contains(T(com.oven.constant.PermissionCode).WORKHOUR_INSERT)}" class="layui-btn layui-btn-sm" id="workhour-add-btn" lay-event="workhour-add-btn">
            <i class="layui-icon layui-icon-add-circle" style="vertical-align: initial;">录入工时</i>
        </button>
    </div>
</script>
<script type="text/html" id="workhourListBar">
    {{#  if(d.hasPay == 0){ }}
        <a th:if="${session.menu.contains(T(com.oven.constant.PermissionCode).WORKHOUR_DELETE)}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  } }}
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var menu = [[${session.menu}]];

    var hasShowWorkhourMoneyPermission = /*[[${T(com.oven.constant.PermissionCode).WORKHOUR_SHOW_MONEY}]]*/ '';
    var hasShowWorkhourTotalWorkhourPermission = /*[[${T(com.oven.constant.PermissionCode).WORKHOUR_SHOW_TOTAL_WORKHOUR}]]*/ '';

    function hasPermission(code) {
        for (var i = 0; i < menu.length; i++) {
            if (code == menu[i]) {
                return true;
            }
        }
        return false;
    }

    /*]]>*/
</script>
<script data-main="/js/workhour/workhour.js" th:src="@{/js/lib/require.js}"></script>
</body>
</html>