<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skyer.mapper.LogMapper">

    <!-- 通过id获取 -->
    <select id="getById" resultMap="logMap">
        select * from t_log where dbid = #{id}
    </select>

    <!-- 分页获取日志 -->
    <select id="getByPage" resultMap="logMap">
        select * from t_log 
        <where>
            <if test="log.title != null and log.title != ''">
                and title like concat('%', #{log.title}, '%')
            </if>
            <if test="log.content != null and log.content != ''">
                and content like concat('%', #{log.content}, '%')
            </if>
            <if test="log.operatorId != null and log.operatorId != ''">
                and operator_id = #{log.operatorId}
            </if>
        </where>
        order by operator_time desc limit #{index},#{pageSize}
    </select>

    <!-- 获取日志总数量 -->
    <select id="getTotalNum" resultType="long">
        select count(*) from t_log
        <where>
            <if test="log.title != null and log.title != ''">
                and title like concat('%', #{log.title}, '%')
            </if>
            <if test="log.content != null and log.content != ''">
                and content like concat('%', #{log.content}, '%')
            </if>
            <if test="log.operatorId != null and log.operatorId != ''">
                and operator_id = #{log.operatorId}
            </if>
        </where>
    </select>

    <!-- 添加 -->
    <insert id="add">
        insert into t_log values (null, #{title}, #{content}, #{operatorId}, #{operatorTime}, #{operatorIp})
    </insert>

    <!-- 结果集映射 -->
    <resultMap type="com.skyer.vo.Log" id="logMap">
        <id column="dbid" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_time" property="operatorTime"/>
        <result column="operator_ip" property="operatorIp"/>
    </resultMap>

</mapper>