<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skyer.mapper.UserMapper">

    <!-- 通过id获取 -->
    <select id="getById" resultMap="userMap">
        select * from t_user where dbid = #{id}
    </select>

    <!-- 分页获取用户 -->
    <select id="getByPage" resultMap="userMap">
        select * from t_user
        <where>
            <if test="user.userName != null and user.userName != ''">
                and user_name like concat('%', #{user.userName}, '%')
            </if>
            <if test="user.nickName != null and user.nickName != ''">
                and nick_name like concat('%', #{user.nickName}, '%')
            </if>
            <if test="user.phone != null and user.phone != ''">
                and phone like concat('%', #{user.phone}, '%')
            </if>
        </where>
        limit #{index},#{pageSize}
    </select>

    <!-- 获取用户总数量 -->
    <select id="getTotalNum" resultType="long">
        select count(*) from t_user
        <where>
            <if test="user.userName != null and user.userName != ''">
                and user_name like concat('%', #{user.userName}, '%')
            </if>
            <if test="user.nickName != null and user.nickName != ''">
                and nick_name like concat('%', #{user.nickName}, '%')
            </if>
            <if test="user.phone != null and user.phone != ''">
                and phone like concat('%', #{user.phone}, '%')
            </if>
        </where>
    </select>

    <!-- 通过用户名查询 -->
    <select id="getByUserName" resultMap="userMap">
        select * from t_user where user_name = #{userName}
    </select>

    <!-- 添加用户 -->
    <insert id="add">
        insert into t_user (dbid, user_name, password, nick_name, age, email, phone, status, gender, create_time, create_id, last_modify_time, last_modify_id)
        values (null, #{userName}, #{password}, #{nickName}, #{age}, #{email}, #{phone}, 0, #{gender}, #{createTime}, #{createId}, #{lastModifyTime}, #{lastModifyId})
    </insert>

    <!-- 修改用户 -->
    <update id="update">
        update t_user set user_name = #{userName},
                          `password` = #{password},
                          nick_name = #{nickName},
                          age = #{age},
                          email = #{email},
                          phone = #{phone},
                          `status` = #{status},
                          gender = #{gender},
                          create_id = #{createId},
                          create_time = #{createTime},
                          last_modify_id = #{lastModifyId},
                          last_modify_time = #{lastModifyTime}
                    where dbid = #{id}

    </update>

    <!-- 删除用户 -->
    <delete id="delete">
        delete from t_user where dbid = #{id}
    </delete>

    <!-- 结果集映射 -->
    <resultMap type="com.skyer.vo.User" id="userMap">
        <id column="dbid" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="age" property="age"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="gender" property="gender"/>
        <result column="create_time" property="createTime"/>
        <result column="create_id" property="createId"/>
        <result column="last_modify_time" property="lastModifyTime"/>
        <result column="last_modify_id" property="lastModifyId"/>
    </resultMap>

</mapper>